.nav-text {
  cursor: default;
  font-family: "Poppins", sans-serif; /* Cambia la fuente */
  font-size: 22px;                    /* Tamaño del texto */
  font-weight: bold;                  /* Negrita */
  color: #1a1a1a;                     /* Color del texto */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}
.wip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
  height: 92vh;
  margin-top: 8vh;
}
.wip-container img {
  height: 80%;
  max-width: 100%;
  object-fit: contain;
}