.nav-text {
  cursor: default;
  font-family: "Poppins", sans-serif; /* Cambia la fuente */
  font-size: 22px;                    /* Tamaño del texto */
  font-weight: bold;                  /* Negrita */
  color: #1a1a1a;                     /* Color del texto */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}
.wip-container {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
}
.wip-container img {
  max-height: 67vh;  /* máximo 67% del viewport height */
  max-width: 100%;   /* que no se salga del contenedor horizontalmente */
  height: auto;      /* que mantenga proporción */
  width: auto;
}